Repository Multiverse/Multiverse-Core, pull requests merged in 2021-07, with the labels that each got.

#2519 Update readme with more project details
  README.md
Labels: PR: Enhancement, State: Needs Review By Dev, Type: Documentation

#2584 Implement new content display system.
  src/main/java/com/onarandombox/MultiverseCore/commands/GamerulesCommand.java
  src/main/java/com/onarandombox/MultiverseCore/commands/ListCommand.java
  src/main/java/com/onarandombox/MultiverseCore/display/ColorAlternator.java
  src/main/java/com/onarandombox/MultiverseCore/display/ColorTool.java
  src/main/java/com/onarandombox/MultiverseCore/display/ContentDisplay.java
  src/main/java/com/onarandombox/MultiverseCore/display/ContentFilter.java
  src/main/java/com/onarandombox/MultiverseCore/display/DisplayFormatException.java
  src/main/java/com/onarandombox/MultiverseCore/display/DisplayHandler.java
  src/main/java/com/onarandombox/MultiverseCore/display/DisplayHandlers.java
  src/main/java/com/onarandombox/MultiverseCore/display/handlers/InlineListDisplayHandler.java
  src/main/java/com/onarandombox/MultiverseCore/display/handlers/InlineMapDisplayHandler.java
  src/main/java/com/onarandombox/MultiverseCore/display/handlers/ListDisplayHandler.java
  src/main/java/com/onarandombox/MultiverseCore/display/handlers/PagedListDisplayHandler.java
  src/main/java/com/onarandombox/MultiverseCore/display/settings/DisplaySetting.java
  src/main/java/com/onarandombox/MultiverseCore/display/settings/InlineDisplaySettings.java
  src/main/java/com/onarandombox/MultiverseCore/display/settings/MapDisplaySettings.java
  src/main/java/com/onarandombox/MultiverseCore/display/settings/PagedDisplaySettings.java
Labels: PR: Enhancement, State: Needs Review By Dev

#2445 Fix issue where special chars cause PatternSyntaxException
  src/main/java/com/onarandombox/MultiverseCore/commands/HelpCommand.java
  src/main/java/com/onarandombox/MultiverseCore/commands/PaginatedCommand.java
Labels: PR: Bugfix, State: Needs Review By Dev

#2672 Fix Tests on Java 16
  pom.xml
  src/test/java/com/onarandombox/MultiverseCore/TestDebugMode.java
  src/test/java/com/onarandombox/MultiverseCore/TestEntitySpawnRules.java
  src/test/java/com/onarandombox/MultiverseCore/TestEntryFeeConversion.java
  src/test/java/com/onarandombox/MultiverseCore/TestModifyCommand.java
  src/test/java/com/onarandombox/MultiverseCore/TestWorldProperties.java
  src/test/java/com/onarandombox/MultiverseCore/TestWorldPurger.java
  src/test/java/com/onarandombox/MultiverseCore/TestWorldStuff.java
  src/test/java/com/onarandombox/MultiverseCore/utils/FileUtilsTest.java
  src/test/java/com/onarandombox/MultiverseCore/utils/MockWorldFactory.java
  src/test/java/com/onarandombox/MultiverseCore/utils/TestInstanceCreator.java
  src/test/java/com/onarandombox/MultiverseCore/utils/Util.java
  src/test/java/com/onarandombox/MultiverseCore/utils/WorldCreatorMatcher.java
  src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Labels: PR: Bugfix, Resolution: Accepted

#2175 [SECURITY] Use HTTPS to resolve dependencies in Maven Build
  pom.xml
Labels: PR: Better Coding, State: Needs Review By Dev
