Repository Multiverse/Multiverse-Core, pull requests merged in 2023-02, with the labels that each got.

#2507 refactor!: Remove redundant MapInitializeEvent
  src/main/java/com/onarandombox/MultiverseCore/MultiverseCore.java
  src/main/java/com/onarandombox/MultiverseCore/listeners/MVMapListener.java
Labels: PR: Better Coding, 5.0.0

#2523 Remove deprecated logging
  src/main/java/com/onarandombox/MultiverseCore/MultiverseCore.java
  src/main/java/com/onarandombox/MultiverseCore/api/LoggablePlugin.java
  src/main/java/com/onarandombox/MultiverseCore/api/MVPlugin.java
  src/main/java/com/onarandombox/MultiverseCore/api/MultiversePlugin.java
Labels: PR: Better Coding, 5.0.0

#2826 Switch from Maven to Gradle.
  .github/workflows/build.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/require_label.yml
  .github/workflows/test.yml
  .gitignore
  README.md
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  pom.xml
  settings.gradle
  src/main/java/com/onarandombox/MultiverseCore/display/DisplayHandler.java
  src/main/java/com/onarandombox/MultiverseCore/utils/webpaste/BitlyURLShortener.java
  src/main/resources/plugin.yml
Labels: release:patch

#2844 Fix build & publish.
  .github/workflows/publish.yml
  .github/workflows/release.yml
  build.gradle
  settings.gradle
Labels: release:patch

#2846 Use PAT to create release.
  .github/workflows/publish.yml
  .github/workflows/release.yml
Labels: release:patch

#2847 Fix name for consumed output variable on get_release.
  .github/workflows/publish.yml
Labels: release:patch

#2848 Use lowercase artifact id.
  .github/workflows/publish.yml
  settings.gradle
Labels: release:patch

#2849 Fix name of consumed output variable on get_release in more places.
  .github/workflows/publish.yml
  .github/workflows/release.yml
  build.gradle
Labels: release:patch

#2850 Massage the strange release upload url.
  .github/workflows/publish.yml
Labels: release:patch

#2851 Use new action for uploading artifact.
  .github/workflows/publish.yml
Labels: release:patch

#2853 Fix upload release artifact
  .github/workflows/publish.yml
Labels: release:patch

#2854 Combine release and publish into a single workflow.
  .github/workflows/publish.yml
  .github/workflows/release.yml
Labels: release:patch

#2861 Test prerelease workflow.
  .github/workflows/release.yml
Labels: release:minor, prerelease

#2862 Publish prerelease versions as snapshots.
  .github/workflows/release.yml
Labels: release:patch, prerelease

#2863 Check if the tag name contains pre instead of checking PR labels.
  .github/workflows/release.yml
Labels: release:patch, prerelease

#2864 Drop "Release" prefix on release names.
  .github/workflows/release.yml
Labels: no release, prerelease

#2865 Add space to trigger release.
  README.md
Labels: release:patch, prerelease

#2866 Remove space to test pre-releases
  README.md
Labels: no release, prerelease

#2867 Use "no version bump" label instead of "no release".
  .github/workflows/require_label.yml
Labels: no version bump, prerelease
