Repository Multiverse/Multiverse-Core, pull requests merged in 2023-09, with the labels that each got.

#2986 Add `/mv coordinates` command
  src/main/java/com/onarandombox/MultiverseCore/commands/CoordinatesCommand.java
  src/main/java/com/onarandombox/MultiverseCore/utils/MVCorei18n.java
  src/main/resources/multiverse-core_en.properties
  src/test/java/org/mvplugins/multiverse/core/inject/InjectionTest.kt
Labels: 5.0.0, no release

#2975 Implement `/mv dumps` command
  src/main/java/com/onarandombox/MultiverseCore/commands/DumpsCommand.java
  src/main/java/com/onarandombox/MultiverseCore/configuration/node/NodeGroup.java
  src/main/java/com/onarandombox/MultiverseCore/utils/MVCorei18n.java
  src/main/java/com/onarandombox/MultiverseCore/utils/file/FileUtils.java
  src/main/java/com/onarandombox/MultiverseCore/utils/webpaste/HttpAPIClient.java
  src/main/java/com/onarandombox/MultiverseCore/utils/webpaste/McloGsPasteService.java
  src/main/java/com/onarandombox/MultiverseCore/utils/webpaste/PasteServiceFactory.java
  src/main/java/com/onarandombox/MultiverseCore/utils/webpaste/PasteServiceType.java
  src/main/java/com/onarandombox/MultiverseCore/utils/webpaste/PastebinPasteService.java
  src/main/java/com/onarandombox/MultiverseCore/utils/webpaste/PastesDevPasteService.java
  src/main/java/com/onarandombox/MultiverseCore/world/SimpleMVWorldManager.java
  src/main/resources/multiverse-core_en.properties
  src/test/java/org/mvplugins/multiverse/core/inject/InjectionTest.kt
Labels: 5.0.0

#2994 Upgrade Checkstyle & Rules.
  .github/workflows/generic.checkstyle.yml
  .github/workflows/pr.checkstyle.yml
  build.gradle
  config/mv_checks.xml
Labels: no release

#2995 Remove checkstyle from gradle.
  .github/workflows/generic.github_release.yml
  build.gradle
Labels: release:patch

#2998 Soften up checkstyle significantly.
  config/mv_checks.xml
Labels: no release

#2999 Merge main into MV5.
  config/mv_checks.xml
Labels: no release

#3000 Fix lparen issues in checkstyle.
  config/mv_checks.xml
Labels: no release

#3030 Add `/mv info`
  src/main/java/org/mvplugins/multiverse/core/commands/InfoCommand.java
  src/main/java/org/mvplugins/multiverse/core/display/parsers/MapContentProvider.java
  src/main/java/org/mvplugins/multiverse/core/world/LoadedMultiverseWorld.java
Labels: 5.0.0, no release

#3034 Zax71/mv5/gamerule command merge
  src/main/java/org/mvplugins/multiverse/core/commands/GameruleCommand.java
  src/main/java/org/mvplugins/multiverse/core/commands/GamerulesCommand.java
  src/main/java/org/mvplugins/multiverse/core/utils/MVCorei18n.java
  src/main/resources/multiverse-core_en.properties
Labels: 5.0.0, no release
