Repository Multiverse/Multiverse-Core, pull requests merged in 2023-03, with the labels that each got.

#2859 Add maven central to repositories
  build.gradle
Labels: release:patch, prerelease

#2877 Use a separate API version for running tests.
  build.gradle
Labels: no version bump, prerelease

#2883 build: Add artifacting of PR build
  .github/workflows/test.yml
Labels: no version bump

#2888 Add PlaceholderAPI Support
  build.gradle
  src/main/java/com/onarandombox/MultiverseCore/MultiverseCore.java
  src/main/java/com/onarandombox/MultiverseCore/placeholders/MultiverseCorePlaceholders.java
  src/main/resources/multiverse-core_en.properties
  src/main/resources/plugin.yml
Labels: PR: Enhancement, release:minor

#2895 Revamp config
  build.gradle
  src/main/java/com/onarandombox/MultiverseCore/MultiverseCore.java
  src/main/java/com/onarandombox/MultiverseCore/MultiverseCoreConfiguration.java
  src/main/java/com/onarandombox/MultiverseCore/anchor/AnchorManager.java
  src/main/java/com/onarandombox/MultiverseCore/api/MVConfig.java
  src/main/java/com/onarandombox/MultiverseCore/api/MVCore.java
  src/main/java/com/onarandombox/MultiverseCore/api/MVWorldManager.java
  src/main/java/com/onarandombox/MultiverseCore/commands/ConfigCommand.java
  src/main/java/com/onarandombox/MultiverseCore/commands/DebugCommand.java
  src/main/java/com/onarandombox/MultiverseCore/commands/ReloadCommand.java
  src/main/java/com/onarandombox/MultiverseCore/commandtools/MVCommandCompletions.java
  src/main/java/com/onarandombox/MultiverseCore/commandtools/MVCommandContexts.java
  src/main/java/com/onarandombox/MultiverseCore/commandtools/context/MVConfigValue.java
  src/main/java/com/onarandombox/MultiverseCore/config/MVCoreConfig.java
  src/main/java/com/onarandombox/MultiverseCore/config/MVCoreConfigNodes.java
  src/main/java/com/onarandombox/MultiverseCore/config/MVCoreConfigProvider.java
  src/main/java/com/onarandombox/MultiverseCore/config/MultiverseConfigurationException.java
  src/main/java/com/onarandombox/MultiverseCore/configuration/ConfigHandle.java
  src/main/java/com/onarandombox/MultiverseCore/configuration/migration/BooleanMigratorAction.java
  src/main/java/com/onarandombox/MultiverseCore/configuration/migration/ConfigMigrator.java
  src/main/java/com/onarandombox/MultiverseCore/configuration/migration/IntegerMigratorAction.java
  src/main/java/com/onarandombox/MultiverseCore/configuration/migration/InvertBoolMigratorAction.java
  src/main/java/com/onarandombox/MultiverseCore/configuration/migration/MigratorAction.java
  src/main/java/com/onarandombox/MultiverseCore/configuration/migration/MoveMigratorAction.java
  src/main/java/com/onarandombox/MultiverseCore/configuration/migration/VersionMigrator.java
  src/main/java/com/onarandombox/MultiverseCore/configuration/node/EnhancedValueNode.java
  src/main/java/com/onarandombox/MultiverseCore/configuration/node/MVCommentedNode.java
  src/main/java/com/onarandombox/MultiverseCore/configuration/node/MVValueNode.java
  src/main/java/com/onarandombox/MultiverseCore/configuration/node/NodeGroup.java
  src/main/java/com/onarandombox/MultiverseCore/destination/DestinationsProvider.java
  src/main/java/com/onarandombox/MultiverseCore/listeners/MVChatListener.java
  src/main/java/com/onarandombox/MultiverseCore/listeners/MVEntityListener.java
  src/main/java/com/onarandombox/MultiverseCore/listeners/MVPlayerListener.java
  src/main/java/com/onarandombox/MultiverseCore/utils/MVPermissions.java
  src/main/java/com/onarandombox/MultiverseCore/utils/PermissionTools.java
  src/main/java/com/onarandombox/MultiverseCore/utils/UnsafeCallWrapper.java
  src/main/java/com/onarandombox/MultiverseCore/world/SimpleMVWorld.java
  src/main/java/com/onarandombox/MultiverseCore/world/SimpleMVWorldManager.java
  src/old-test/java/com/onarandombox/MultiverseCore/TestWorldProperties.java
  src/test/java/org/mvplugins/multiverse/core/TestWithMockBukkit.kt
  src/test/java/org/mvplugins/multiverse/core/config/ConfigTest.kt
  src/test/java/org/mvplugins/multiverse/core/inject/InjectionTest.kt
  src/test/resources/default_config.yml
  src/test/resources/old_config.yml
Labels: 5.0.0, prerelease

#2872 Update README.md
  README.md
Labels: no version bump, prerelease
