Repository Multiverse/Multiverse-Core, pull requests merged in 2023-08, with the labels that each got.

#2880 feat: Add automatic Modrinth upload
  .github/workflows/release.yml
  build.gradle
  settings.gradle
Labels: PR: Enhancement, release:minor, prerelease

#2944 Fix modrinth gha upload
  .github/workflows/release.yml
Labels: release:patch, prerelease

#2945 Fix add missing game version for modrinth
  build.gradle
Labels: release:patch, prerelease

#2946 Remove line break from README.md
  README.md
Labels: release:patch, prerelease

#2947 Upload to modrinth when manually promote release
  .github/workflows/promote_release.yml
Labels: no version bump, prerelease

#2949 Fix regen args parsing logic
  src/main/java/com/onarandombox/MultiverseCore/commands/RegenCommand.java
Labels: no version bump, prerelease

#2950 Add github action for DBO upload
  .github/workflows/dbo_upload.yml
Labels: no version bump

#2948 Fix teleporter reference being null
  src/main/java/com/onarandombox/MultiverseCore/listeners/MVPlayerListener.java
Labels: no version bump, prerelease

#2951 Revamp release actions
  .github/labeler.yml
  .github/workflows/dbo_upload.yml
  .github/workflows/modrinth_upload.yml
  .github/workflows/pr_labeler.yml
  .github/workflows/promote_release.yml
  .github/workflows/release.yml
  .github/workflows/require_label.yml
  build.gradle
Labels: release:patch

#2952 fix: Version of fetch-gh-release-asset
  .github/workflows/dbo_upload.yml
  .github/workflows/promote_release.yml
  .github/workflows/release.yml
Labels: release:patch

#2953 fix: Download artifact wrong file version
  .github/workflows/release.yml
Labels: release:patch

#2954 fix: Release mode for release promotion
  .github/workflows/promote_release.yml
Labels: no release

#2955 fix: Tag name and input inconsistency
  .github/workflows/dbo_upload.yml
  .github/workflows/modrinth_upload.yml
  .github/workflows/promote_release.yml
Labels: no release

#2956 Fix versioning
  .github/workflows/promote_release.yml
Labels: no release

#2957 fix: DBO file path issue
  .github/workflows/dbo_upload.yml
  .github/workflows/promote_release.yml
Labels: no release

#2958 chore: Add modrinth label to readme
  README.md
Labels: release:patch

#2960 feat: Revamp github actions workflow
  .github/workflows/call.github_release.yml
  .github/workflows/call.platform_uploads.yml
  .github/workflows/dbo_upload.yml
  .github/workflows/dispatch.platform_uploads.yml
  .github/workflows/dispatch.promote_release.yml
  .github/workflows/main.prerelease.yml
  .github/workflows/modrinth_upload.yml
  .github/workflows/pr.require_label.yml
  .github/workflows/pr.test.yml
  .github/workflows/promote_release.yml
  .github/workflows/release.yml
Labels: release:patch

#2961 fix: Version failing if more than pre.10
  .github/workflows/call.github_release.yml
Labels: no release

#2963 chore: Use major versioning for actions that supports
  .github/workflows/call.github_release.yml
  .github/workflows/call.platform_uploads.yml
Labels: no release

#2964 Somemore actions improvements
  .github/workflows/call.github_release.yml
  .github/workflows/call.platform_uploads.yml
Labels: release:patch

#2965 fix: Cancel condition for platform upload
  .github/workflows/call.platform_uploads.yml
Labels: release:patch

#2967 Generify actions and add hangar upload
  .github/workflows/call.github_release.yml
  .github/workflows/call.platform_uploads.yml
  .github/workflows/dispatch.platform_uploads.yml
  .github/workflows/dispatch.promote_release.yml
  .github/workflows/generic.github_release.yml
  .github/workflows/generic.platform_uploads.yml
  .github/workflows/main.prerelease.yml
Labels: no release

#2969 Switch to manual only prereleases on Hangar.
  .github/workflows/main.prerelease.yml
Labels: no release

#2971 Add Hangar README.md badge
  README.md
Labels: no release

#2972 Fix dependency set for maven pom.
  build.gradle
Labels: release:patch

#2973 feat: Generify test action
  .github/workflows/generic.test.yml
  .github/workflows/pr.test.yml
Labels: no release

#2979 Update hangar plugin deps bcu they changed the API
  .github/workflows/call.platform_uploads.yml
  .github/workflows/generic.platform_uploads.yml
Labels: no release

#2980 Remove modrinth gradle plugin
  build.gradle
Labels: no release

#2974 docs: Improve the readme badges
  README.md
Labels: no release

#2928 feat: Revamp teleport world entry checking
  src/main/java/com/onarandombox/MultiverseCore/commands/TeleportCommand.java
  src/main/java/com/onarandombox/MultiverseCore/economy/MVEconomist.java
  src/main/java/com/onarandombox/MultiverseCore/listeners/MVPlayerListener.java
  src/main/java/com/onarandombox/MultiverseCore/permissions/CorePermissions.java
  src/main/java/com/onarandombox/MultiverseCore/permissions/CorePermissionsChecker.java
  src/main/java/com/onarandombox/MultiverseCore/utils/MVCorei18n.java
  src/main/java/com/onarandombox/MultiverseCore/utils/message/MessageReplacement.java
  src/main/java/com/onarandombox/MultiverseCore/utils/result/FailureReason.java
  src/main/java/com/onarandombox/MultiverseCore/utils/result/Result.java
  src/main/java/com/onarandombox/MultiverseCore/utils/result/ResultChain.java
  src/main/java/com/onarandombox/MultiverseCore/utils/result/SuccessReason.java
  src/main/java/com/onarandombox/MultiverseCore/world/configuration/EntryFee.java
  src/main/java/com/onarandombox/MultiverseCore/world/entrycheck/BlacklistResult.java
  src/main/java/com/onarandombox/MultiverseCore/world/entrycheck/EntryFeeResult.java
  src/main/java/com/onarandombox/MultiverseCore/world/entrycheck/PlayerLimitResult.java
  src/main/java/com/onarandombox/MultiverseCore/world/entrycheck/WorldAccessResult.java
  src/main/java/com/onarandombox/MultiverseCore/world/entrycheck/WorldEntryChecker.java
  src/main/java/com/onarandombox/MultiverseCore/world/entrycheck/WorldEntryCheckerProvider.java
  src/main/resources/multiverse-core_en.properties
Labels: PR: Enhancement
