Repository Multiverse/Multiverse-Core, pull requests merged in 2024-08, with the labels that each got.

#3081 Change versions to support 1.21
  .github/workflows/generic.platform_uploads.yml
Labels: release:patch

#3082 Actually update to 1.21
  .github/workflows/generic.platform_uploads.yml
Labels: release:patch

#3084 Fix edge case where PlayerTeleportEvent getTo is null
  src/main/java/com/onarandombox/MultiverseCore/listeners/MVPlayerListener.java
Labels: release:patch

#3091 Update to 1.21.1
  .github/workflows/generic.platform_uploads.yml
Labels: release:patch

#3094 Fix colouring on `/mv modify`
  src/main/java/org/mvplugins/multiverse/core/commands/ModifyCommand.java
Labels: 5.0.0

#3055 Add `/mv who` and `/mv whoall`
  src/main/java/org/mvplugins/multiverse/core/commands/WhoCommand.java
  src/main/java/org/mvplugins/multiverse/core/utils/MVCorei18n.java
  src/main/resources/multiverse-core_en.properties
Labels: 5.0.0, no release

#3099 Add onFailure methods to AsyncAttempt class
  src/main/java/org/mvplugins/multiverse/core/utils/result/AsyncAttempt.java
Labels: 5.0.0, no release

#3097 Fix WorldManager#getWorld from bukkit World not mapping to worldname
  src/main/java/org/mvplugins/multiverse/core/world/WorldManager.java
Labels: 5.0.0, no release

#3095 Add legacy aliases to all commands
  src/main/java/org/mvplugins/multiverse/core/commands/CheckCommand.java
  src/main/java/org/mvplugins/multiverse/core/commands/CloneCommand.java
  src/main/java/org/mvplugins/multiverse/core/commands/ConfigCommand.java
  src/main/java/org/mvplugins/multiverse/core/commands/ConfirmCommand.java
  src/main/java/org/mvplugins/multiverse/core/commands/CoordinatesCommand.java
  src/main/java/org/mvplugins/multiverse/core/commands/CreateCommand.java
  src/main/java/org/mvplugins/multiverse/core/commands/DebugCommand.java
  src/main/java/org/mvplugins/multiverse/core/commands/DeleteCommand.java
  src/main/java/org/mvplugins/multiverse/core/commands/GeneratorsCommand.java
  src/main/java/org/mvplugins/multiverse/core/commands/ImportCommand.java
  src/main/java/org/mvplugins/multiverse/core/commands/InfoCommand.java
  src/main/java/org/mvplugins/multiverse/core/commands/ListCommand.java
  src/main/java/org/mvplugins/multiverse/core/commands/LoadCommand.java
  src/main/java/org/mvplugins/multiverse/core/commands/ModifyCommand.java
  src/main/java/org/mvplugins/multiverse/core/commands/RegenCommand.java
  src/main/java/org/mvplugins/multiverse/core/commands/ReloadCommand.java
  src/main/java/org/mvplugins/multiverse/core/commands/RemoveCommand.java
  src/main/java/org/mvplugins/multiverse/core/commands/UnloadCommand.java
  src/main/java/org/mvplugins/multiverse/core/commands/VersionCommand.java
Labels: 5.0.0

#3057 Add `/mv spawn tp` and `/mv spawn set`
  src/main/java/org/mvplugins/multiverse/core/commands/SetSpawnCommand.java
  src/main/java/org/mvplugins/multiverse/core/commands/SpawnCommand.java
  src/main/java/org/mvplugins/multiverse/core/utils/MVCorei18n.java
  src/main/resources/multiverse-core_en.properties
Labels: 5.0.0, no release
