Repository Multiverse/Multiverse-Core, pull requests merged in 2025-06, with the labels that each got.

#3245 Use kyori adventure whenever possible to support rgb formatting
  src/main/java/org/mvplugins/multiverse/core/command/MVCommandIssuer.java
  src/main/java/org/mvplugins/multiverse/core/display/filters/RegexContentFilter.java
  src/main/java/org/mvplugins/multiverse/core/listeners/MVChatListener.java
  src/main/java/org/mvplugins/multiverse/core/utils/text/AdventureTextFormatter.java
  src/main/java/org/mvplugins/multiverse/core/utils/text/ChatColorTextFormatter.java
  src/main/java/org/mvplugins/multiverse/core/utils/text/ChatTextFormatter.java
  src/main/java/org/mvplugins/multiverse/core/utils/text/TextFormatter.java
  src/main/java/org/mvplugins/multiverse/core/world/MultiverseWorld.java
  src/main/java/org/mvplugins/multiverse/core/world/WorldManager.java
  src/test/java/org/mvplugins/multiverse/core/commands/AbstractCommandTest.kt
  src/test/java/org/mvplugins/multiverse/core/commands/VersionCommandTest.kt
Labels: Severity: Minor

#3248 Update issue template new dumps command, and fix typos
  .github/ISSUE_TEMPLATE/bug-report.yml
Labels: no release

#3247 Hotfix for vanilla selector params getting cut off by comma separation
  src/main/java/org/mvplugins/multiverse/core/utils/PlayerFinder.java
Labels: release:patch

#3253 Add green colour to donate and enable message
  src/main/java/org/mvplugins/multiverse/core/MultiverseCore.java
Labels: release:patch

#3254 Fix bstats world chart
  src/main/java/org/mvplugins/multiverse/core/BstatsMetricsConfigurator.java
Labels: release:patch

#3256 Improve generator provider tab-complete logic
  src/main/java/org/mvplugins/multiverse/core/world/generators/GeneratorPlugin.java
  src/main/java/org/mvplugins/multiverse/core/world/generators/GeneratorProvider.java
Labels: release:patch

#3273 Update donation links to our github sponsor and open collective
  .github/FUNDING.yml
  README.md
  src/main/java/org/mvplugins/multiverse/core/MultiverseCore.java
Labels: no release

#3274 Update multiverse-core_zh.properties
  src/main/resources/multiverse-core_zh.properties
Labels: no release

#3277 Fix config.yml comment spacing
  src/main/java/org/mvplugins/multiverse/core/config/CoreConfigNodes.java
Labels: no release

#3276 Fix message key lowercase issues if java environment is non-english
  src/main/java/org/mvplugins/multiverse/core/locale/MVCorei18n.java
Labels: release:patch
