Repository Multiverse/Multiverse-Core, pull requests merged in 2025-08, with the labels that each got.

#3317 Fix unwanted warning logging for matcher
  src/main/java/org/mvplugins/multiverse/core/utils/matcher/MatcherGroup.java
Labels: no release

#3320 Fix adventure dep in spigot-based server
  src/main/java/org/mvplugins/multiverse/core/utils/text/ChatTextFormatter.java
Labels: release:patch

#3327 5.3
  src/main/java/org/mvplugins/multiverse/core/config/CoreConfig.java
  src/main/java/org/mvplugins/multiverse/core/config/CoreConfigNodes.java
  src/main/java/org/mvplugins/multiverse/core/world/WorldConfigNodes.java
  src/main/java/org/mvplugins/multiverse/core/world/entity/EntitySpawnConfig.java
  src/main/java/org/mvplugins/multiverse/core/world/entity/SpawnCategoryConfig.java
  src/test/resources/configs/fresh_config.yml
Labels: release:minor

#3330 Configurable server.properties path
  src/main/java/org/mvplugins/multiverse/core/config/CoreConfig.java
  src/main/java/org/mvplugins/multiverse/core/config/CoreConfigNodes.java
  src/main/java/org/mvplugins/multiverse/core/utils/FileUtils.java
  src/test/resources/configs/fresh_config.yml
Labels: release:minor
