Repository Multiverse/Multiverse-Core, pull requests merged in 2025-05, with the labels that each got.

#3204 Trigger MV5 release build
  README.md
Labels: release:minor

#3205 Github release action improvements
  .github/workflows/dispatch.create_release.yml
  .github/workflows/dispatch.javadoc.yml
  .github/workflows/generic.github_release.yml
Labels: release:patch

#3206 Refactor and properly unregister MultiverseCoreApi from service manager
  src/main/java/org/mvplugins/multiverse/core/MultiverseCore.java
  src/main/java/org/mvplugins/multiverse/core/MultiverseCoreApi.java
Labels: no release

#3208 GHA do not build of upload if there is no release
  .github/workflows/generic.github_release.yml
Labels: no release

#3209 Implement bukkit-yml-path config option
  src/main/java/org/mvplugins/multiverse/core/MultiverseCore.java
  src/main/java/org/mvplugins/multiverse/core/config/CoreConfig.java
  src/main/java/org/mvplugins/multiverse/core/config/CoreConfigNodes.java
  src/main/java/org/mvplugins/multiverse/core/config/handle/BaseConfigurationHandle.java
  src/main/java/org/mvplugins/multiverse/core/utils/FileUtils.java
  src/test/resources/configs/fresh_config.yml
Labels: no release

#3210 Add an option to force save world to disk before cloning world
  src/main/java/org/mvplugins/multiverse/core/commands/CloneCommand.java
  src/main/java/org/mvplugins/multiverse/core/world/WorldManager.java
  src/main/java/org/mvplugins/multiverse/core/world/options/CloneWorldOptions.java
Labels: no release

#3211 Add `--no-unload-bukkit-world` flag to unload command
  src/main/java/org/mvplugins/multiverse/core/commands/UnloadCommand.java
Labels: no release

#3212 Default save bukkit world before clone to true
  src/main/java/org/mvplugins/multiverse/core/commands/CloneCommand.java
  src/main/java/org/mvplugins/multiverse/core/world/WorldManager.java
  src/main/java/org/mvplugins/multiverse/core/world/options/CloneWorldOptions.java
Labels: no release

#3214 Fix clone command test due to World#save being unimplemented
  src/main/java/org/mvplugins/multiverse/core/world/options/CloneWorldOptions.java
  src/test/java/org/mvplugins/multiverse/core/world/WorldManagerTest.kt
Labels: no release

#3213 Add option to keep files during world regen
  src/main/java/org/mvplugins/multiverse/core/commands/DeleteCommand.java
  src/main/java/org/mvplugins/multiverse/core/commands/RegenCommand.java
  src/main/java/org/mvplugins/multiverse/core/utils/FileUtils.java
  src/main/java/org/mvplugins/multiverse/core/world/WorldManager.java
  src/main/java/org/mvplugins/multiverse/core/world/options/CreateWorldOptions.java
  src/main/java/org/mvplugins/multiverse/core/world/options/DeleteWorldOptions.java
  src/main/java/org/mvplugins/multiverse/core/world/options/RegenWorldOptions.java
  src/test/java/org/mvplugins/multiverse/core/world/WorldManagerTest.kt
Labels: no release

#3216 Fix displaypermerrors config migration
  src/main/java/org/mvplugins/multiverse/core/config/CoreConfig.java
Labels: no release

#3215 Implement automatic link of respawn world from nether/end to overworld
  src/main/java/org/mvplugins/multiverse/core/config/CoreConfig.java
  src/main/java/org/mvplugins/multiverse/core/config/CoreConfigNodes.java
  src/main/java/org/mvplugins/multiverse/core/listeners/MVPlayerListener.java
  src/main/java/org/mvplugins/multiverse/core/world/helpers/DimensionFinder.java
  src/test/java/org/mvplugins/multiverse/core/world/helper/DimensionFormatTest.kt
  src/test/resources/configs/fresh_config.yml
Labels: no release

#3217 Fix incorrect way of unregistering MultiverseCoreApi from service manager
  src/main/java/org/mvplugins/multiverse/core/MultiverseCoreApi.java
Labels: no release

#3219 Implement localisation for config command output
  src/main/java/org/mvplugins/multiverse/core/commands/ConfigCommand.java
  src/main/java/org/mvplugins/multiverse/core/locale/MVCorei18n.java
  src/main/java/org/mvplugins/multiverse/core/locale/message/MessageReplacement.java
  src/main/java/org/mvplugins/multiverse/core/world/helpers/DimensionFinder.java
  src/main/resources/multiverse-core_en.properties
Labels: no release

#3220 Add option to disable auto import of worlds on init/reload
  src/main/java/org/mvplugins/multiverse/core/config/CoreConfig.java
  src/main/java/org/mvplugins/multiverse/core/config/CoreConfigNodes.java
  src/main/java/org/mvplugins/multiverse/core/world/WorldManager.java
  src/test/resources/configs/fresh_config.yml
Labels: no release

#3221 Implement dynamic listener api
  src/main/java/org/mvplugins/multiverse/core/MultiverseCore.java
  src/main/java/org/mvplugins/multiverse/core/config/CoreConfig.java
  src/main/java/org/mvplugins/multiverse/core/config/CoreConfigNodes.java
  src/main/java/org/mvplugins/multiverse/core/dynamiclistener/DynamicListener.java
  src/main/java/org/mvplugins/multiverse/core/dynamiclistener/DynamicListenerRegistration.java
  src/main/java/org/mvplugins/multiverse/core/dynamiclistener/EventPriorityMapper.java
  src/main/java/org/mvplugins/multiverse/core/dynamiclistener/EventRunnable.java
  src/main/java/org/mvplugins/multiverse/core/dynamiclistener/EventRunnableExecutor.java
  src/main/java/org/mvplugins/multiverse/core/dynamiclistener/annotations/DefaultEventPriority.java
  src/main/java/org/mvplugins/multiverse/core/dynamiclistener/annotations/EventClass.java
  src/main/java/org/mvplugins/multiverse/core/dynamiclistener/annotations/EventMethod.java
  src/main/java/org/mvplugins/multiverse/core/dynamiclistener/annotations/EventPriorityKey.java
  src/main/java/org/mvplugins/multiverse/core/dynamiclistener/annotations/IgnoreIfCancelled.java
  src/main/java/org/mvplugins/multiverse/core/dynamiclistener/annotations/SkipIfEventExist.java
  src/main/java/org/mvplugins/multiverse/core/listeners/CoreListener.java
  src/main/java/org/mvplugins/multiverse/core/listeners/MVChatListener.java
  src/main/java/org/mvplugins/multiverse/core/listeners/MVEntityListener.java
  src/main/java/org/mvplugins/multiverse/core/listeners/MVPlayerListener.java
  src/main/java/org/mvplugins/multiverse/core/listeners/MVPortalListener.java
  src/main/java/org/mvplugins/multiverse/core/listeners/MVWeatherListener.java
  src/main/java/org/mvplugins/multiverse/core/listeners/MVWorldListener.java
  src/main/java/org/mvplugins/multiverse/core/module/MultiverseModule.java
  src/test/resources/configs/fresh_config.yml
Labels: no release

#3222 Implement paper's AsyncChatEvent for world prefix chat
  build.gradle
  src/main/java/org/mvplugins/multiverse/core/BstatsMetricsConfigurator.java
  src/main/java/org/mvplugins/multiverse/core/command/MVCommandCompletions.java
  src/main/java/org/mvplugins/multiverse/core/commands/DumpsService.java
  src/main/java/org/mvplugins/multiverse/core/listeners/MVChatListener.java
Labels: no release

#3223 Implement world property to disable advancement grant
  src/main/java/org/mvplugins/multiverse/core/listeners/CoreListener.java
  src/main/java/org/mvplugins/multiverse/core/listeners/MVAdvancementListener.java
  src/main/java/org/mvplugins/multiverse/core/world/MultiverseWorld.java
  src/main/java/org/mvplugins/multiverse/core/world/WorldConfig.java
  src/main/java/org/mvplugins/multiverse/core/world/WorldConfigNodes.java
  src/test/java/org/mvplugins/multiverse/core/inject/InjectionTest.kt
  src/test/resources/worlds/default_worlds.yml
  src/test/resources/worlds/delete_worlds.yml
  src/test/resources/worlds/edgecase_worlds.yml
  src/test/resources/worlds/migrated_worlds.yml
  src/test/resources/worlds/newworld_worlds.yml
  src/test/resources/worlds/properties_worlds.yml
  src/test/resources/worlds/updated_worlds.yml
Labels: no release

#3224 Implement `/mv worldborder` commands
  src/main/java/org/mvplugins/multiverse/core/commands/WorldBorderCommand.java
  src/main/java/org/mvplugins/multiverse/core/locale/MVCorei18n.java
  src/main/java/org/mvplugins/multiverse/core/world/LoadedMultiverseWorld.java
  src/main/resources/multiverse-core_en.properties
  src/test/java/org/mvplugins/multiverse/core/inject/InjectionTest.kt
Labels: no release

#3225 Fix wrong skip class for AsyncPlayerChatEvent
  src/main/java/org/mvplugins/multiverse/core/listeners/MVChatListener.java
Labels: release:patch

#3226 Fix adventure text import issues on spigot
  src/main/java/org/mvplugins/multiverse/core/listeners/MVChatListener.java
Labels: release:patch

#3227 Fix event executor on spigot
  src/main/java/org/mvplugins/multiverse/core/dynamiclistener/DynamicListenerRegistration.java
Labels: no release

#3228 Improve comments for first-spawn and join-destination
  src/main/java/org/mvplugins/multiverse/core/config/CoreConfigNodes.java
Labels: release:patch

#3232 Fix some config comment typos
  src/main/java/org/mvplugins/multiverse/core/config/CoreConfigNodes.java
Labels: no release

#3231 Implement generator info command
  src/main/java/org/mvplugins/multiverse/core/command/MVCommandCompletions.java
  src/main/java/org/mvplugins/multiverse/core/command/MVCommandContexts.java
  src/main/java/org/mvplugins/multiverse/core/commands/GeneratorsCommand.java
  src/main/java/org/mvplugins/multiverse/core/utils/StringFormatter.java
  src/main/java/org/mvplugins/multiverse/core/world/generators/GeneratorProvider.java
Labels: release:minor

#3233 Add permission for world border
  src/main/java/org/mvplugins/multiverse/core/commands/WorldBorderCommand.java
Labels: release:patch

#3230 Update multiverse-core_zh.properties
  src/main/resources/multiverse-core_zh.properties
  src/test/java/org/mvplugins/multiverse/core/command/LocalizationTest.kt
  src/test/resources/multiverse-core_zh.properties
Labels: release:patch

#3236 Fix content display wrong locale key
  src/main/resources/multiverse-core_en.properties
  src/main/resources/multiverse-core_zh.properties
Labels: no release
